altair==5.5.0
arrow
attrs
beautifulsoup4
blinker==1.9.0
Bottleneck
Brotli
cachetools==5.5.2
certifi
cffi
chardet
charset-normalizer
click
cloudpickle
colorama
contourpy
CoolProp==6.6.0
cryptography
cycler
decorator
dill
et-xmlfile==1.1.0
fastjsonschema
fonttools
google-api-core==2.25.1
google-api-python-client==2.181.0
google-auth==2.40.3
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.2.2
googleapis-common-protos==1.70.0
httplib2==0.30.0
idna
importlib-metadata
intervaltree
Jinja2
joblib==1.4.2
jsonschema
jsonschema-specifications
kiwisolver
ladybug-core==0.44.20
ladybug-geometry==1.34.10
lazy-object-proxy
markdown-it-py
MarkupSafe
matplotlib
matplotlib-inline
mdurl
mkl-fft
mkl-random
mkl-service==2.4.0
more-itertools
narwhals
nest-asyncio
numexpr
numpy
oauthlib==3.3.1
openpyxl==3.1.5
packaging
pandas
paramiko
pillow
platformdirs
plotly
ply
proto-plus==1.26.1
protobuf==6.32.0
pyarrow==21.0.0
pyasn1==0.6.1
pyasn1_modules==0.4.2
pycparser
pydeck==0.9.1
pyfluids==2.6.0
Pygments
PyNaCl
pyparsing
PySocks
python-dateutil
PyYAML
referencing
requests==2.32.5
requests-oauthlib==2.0.0
rich
rpds-py
rsa==4.9.1
Rtree
scikit-learn==1.5.1
scipy==1.14.1
seaborn
setuptools==72.1.0
six
sortedcontainers
soupsieve
streamlit==1.49.0
streamlit-plotly-events==0.0.6
tabulate
tenacity
toml==0.10.2
tomli
tomlkit
tornado
typing_extensions==4.15.0
tzdata
ujson
unicodedata2
Unidecode
uritemplate==4.2.0
urllib3==2.5.0
wheel==0.43.0
zipp